<div class="container" [formGroup]="UserForm" >
  <div class="form-group">
    <label for=""></label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="name" formControlName="name">
    <small id="helpId" class="form-text text-muted">Name</small>
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Number" formControlName="mobile" >
    <small id="helpId" class="form-text text-muted">Number</small>
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Address" formControlName="address" >
    <small id="helpId" class="form-text text-muted">Address</small>
  </div>

  <a name="" id="" class="btn btn-primary"  role="button" (click)="createUser()"  >Create</a>


  <input type="file" name="" id="" (change)="convertFile($event)" >
</div>


<table class="table table-bordered table-inverse table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>S.N.</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users;let i=index" >
        <td scope="row"> {{i+1}} </td>
        <td *ngIf="EditUser!=user._id;else EditTemp" > {{user.name}} </td>
        <td *ngIf="EditUser!=user._id" > {{user.mobile}} </td>
        <td *ngIf="EditUser!=user._id"> {{user.address}} </td>
        <td *ngIf="EditUser!=user._id" >
          <input name="" id="" class="btn btn-warning" type="button" (click)="edit(user)"  value="Edit">
          <input name="" id="" class="btn btn-danger" type="button" (click)="deleteUser(user)" value="Delete">
        </td>
      </tr>
    </tbody>
</table>

<ng-template #EditTemp [formGroup]="EditForm" >
<td>
  <input type="text" formControlName="name" >
</td>
<td>
  <input type="text" formControlName="mobile">
</td>
<td>
  <input type="text" formControlName="address" >
</td>
<td>
  <input type="button" value="Save" class="btn btn-success" (click)="save(EditForm.value)" >
</td>
</ng-template>



<div>
  {{excelData | json }}
</div>